
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
 
body {
	background-color: #279D9A;

} 
/*Picture and contact Details*/


#pic {
	width: 100%;

}

.picture-holder {
	padding-top: 5em;
	padding-left: 50%;
	border-radius: 50%;
	height: 100vh;
}
.container-fluid {
	padding: 0;
}

#jumbo-div {
	padding-top: 10em;
	padding-right: 1em;
	background-color: #279D9A;
}

#port-jumbo, h1 {
	font-size: 2em;
	color: white;
	font-family: 'Poppins', sans-serif;
	background-color: #279D9A;
}

#port-jumbo {
	border-left: 8px solid white;
	/*padding-left: 1px;*/
	/*padding-right: 3px;*/
	
	width: 100%;
}


#about-me {
	color: white;
	text-align: center;
}

#first-name, #last-name, #email, #cell {
	color: white;
}


.card {
	background-color:#279D9A;
	text-align: center;
	border: 1px solid white;
}

.card-title {
	color: white;
}

#aboutme {
	text-align: center;
}

.narrative {
	text-align: left;

}


.footer {
	background-color: white;
	width: 100%
}

@media only screen and (max-width: 400px) {
	#jumbo-div {
		height: 100%;

	}


	#port-jumbo {
		width: 100%
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.jumbotron h1 {
		font-size: 10px;
	}

	#about-me .display-3 {
	text-align: left;
	font-size: 30px;

	}

}
